@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #043235;
  --foreground: #F5B14C;
  --font-inter: 'Inter', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --font-asgard: 'Asgard Trial', serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


/* Utility classes for font usage */
.font-inter {
  font-family: var(--font-inter);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-asgard {
  font-family: var(--font-asgard);
}

.font-asgardRegular {
  font-family: var(--font-asgardRegular);
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.bg-page {
  background-image: url(/images/bg-page.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  height: auto; 
  width: 100%;
}

.bg-main {
  background-image: url(/images/bg-main.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  height: auto; 
  width: 100%;
}

.thumb{
  display: inline;
}


@media (max-width: 640px) {
  /* Mobile (sm) */
  .bg-page {
    width:100%;
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  /* Tablet (md) */
  .bg-page {
    width:100%;
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 1025px) {
  /* Desktop (lg, xl) */
  .bg-page {
    background-size: cover;
    background-position: center center;
  }
}



